body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  text-align: center;
}

#fail, #success {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  width: 90%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
svg {
  width: 90%;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  margin: 0 auto;
  text-align: center;
    overflow: auto;
}
.text {
    font-size: 3.4em;
    margin: 17% 0 30%;
}
.page2 .text {
    margin: 10% auto 22%;
}
.text span {
    display: block;
}
.btn div {
    width: 40%;
    display: inline-block;
    margin: 0 4%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 2.6em;
    padding: 2.3% 0;
    color: #B4B4B5;
    background-color: transparent;
    border: 1px solid #95989A;
    border-radius: 5px;
    outline: none;
}
div.again {
    color: #F26F21;
}
