html, body {
    -ms-touch-action : manipulation;
    touch-action     : manipulation;
    font-family      : Akkurat, Arial, sans-serif;
    width            : 100%;
    height           : 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
    /*overflow:hidden;*/
    /*scroll:no;*/
}
* {
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
    -webkit-tap-highlight-color : rgba(0, 0, 0, 0);
    -webkit-user-select   : none;
    -webkit-touch-callout: none; /* iOS Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    overflow: hidden;
    margin: 0;
    /*padding: 0;*/
}
.BGImg,img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.MyDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.slide-fade-enter-active {
    transition: all .6s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to,
.slide-fade-leave-active  {
    transform: translateX(10px);
    opacity: 0;
}
#homeTitle1 {
	width: 100%;
	position: absolute;
	text-align: center;
	top: 21%;
	color: #585757;
	font-size: 22px;
	font-family: DroidSansFallback;
}
#homeTitle2 {
	width: 100%;
	position: absolute;
	text-align: center;
	top: 30%;
	color: #585757;
	font-size: 20px;
	font-family: DroidSansFallback;
}
.topBack {
    height: 12%;
    padding: 0 4.2%;
    font-size: 22px;
    font-family: DroidSansFallback;
}
.getStarted {
	color: #FF9012;
	font-size: 27px;
	position: absolute;
	left: 40px;
	top: 35.5px;
	font-family: Roboto-Regular;
}
#skip {
    width: 20%;
    position: absolute;
    right: 0;
    color: #B3B2B3;
    font-family: DroidSansFallback;
    font-size: 23px;
    height: 75px;
    line-height: 75px;
    text-align: right;
    padding-right: 35px;
}
svg {
    position: absolute;
    width:100%;
    height:100%;
}
.pointer {
    cursor: pointer;
}
.exit {
    width:11%;
    height:12%;
    position: absolute;
    left:0;
    top:85%;
    z-index: 99999;
}
.back {
    width:11%;
    height:12%;
    position: absolute;
    left:0;
    top:85%;
    z-index: 99999;
}
.next {
    width: 20%;
    height: 17%;
    position: absolute;
    right: 0;
    bottom: 0;
}
#BottomPropMessage{
    position: absolute;
    width: 100%;
    height: 100px;
    top: 85%;
    text-align: center;
    font-size: 21px;
    font-family: "Droid Sans";
    color: #666767;
}
#BottomPropMessage span {
    position: absolute;
    width: 100%;
    left: 0;
    height: 100px;
    line-height: 100px;
}
.endDiv svg{
	position: absolute;
	width: auto;
	height: auto;
}
.btnContent {
	width: 90%;
	position: absolute;
	height: 25px;
	line-height: 25px;
	left: 5%;
}
.btn {
	width: 20%;
    position: absolute;
    color: white;
    top: 76%;
    font-size: 16px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    height: 30px;
    text-align: center;
}
.again {
    left: 20%; 
}
.done {
    left: 60%;
}
.pagination {
	width: 15%;
	height: 15%;
	left:0;
    top:85%;
    z-index: 99999;
}
.pagination svg {
	width: 55%;
	height: 80%;
	left: 10%;
	top: 15%;
}
.mycircle {
	display: inline;
}
.promptBox {
	width: auto;
	height: auto;
	text-align: center;
	color: white;
	background: black;
	border-radius: 10px;
	padding: 15px;
	position: relative;
	/*display: inline;*/
	font-size: 19px;
	overflow: visible;
	display: flex;
    justify-content:center;
   	align-items: center;
}
.promptText {
	display: inline-block;
	text-align: left;
}
.promptBoxUp:before {
  content:"";
  position: absolute;
  /*right: 100%;*/
  width: 0;
  height: 0;
  top: -8px;
  left: 48%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000;
}
.promptBoxDown:after {
  content:"";
  position: absolute;
  /*right: 100%;*/
  width: 0;
  height: 0;
  top: 51px;
  left: 48%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000;
}
.promptBoxLeft:before {
  content:"";
  position: absolute;
  /*right: 100%;*/
  width: 0;
  height: 0;
  top: -8px;
  left: 6%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000;
}
.promptBoxRight:before {
  content:"";
  position: absolute;
  /*right: 100%;*/
  width: 0;
  height: 0;
  top: -8px;
  left: 85%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000;
}
.promptBoxLeftMid:before {
  content:"";
  position: absolute;
  /*right: 100%;*/
  width: 0;
  height: 0;
  top: 45%;
  left: -18px;
  border-right: 10px solid #000;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}
.promptGot {
	position: absolute;
	bottom: 0;
	color: #FF9012;
	width: 90%;
	left: 5%;
	border-top: 1px solid #C8C9CA;
	padding: 10px;
}
.promptBoxGot {
	align-items: flex-start;
}
.promptBoxNone:before {
	display: none;
}
.whitePromptBox {
	width: 96%;
	height: 38%;
	border-radius: 20px 20px 0 0;
	position: absolute;
	left: 2%;
	bottom: -38%;
	background: #fff;
	color: #585858;
	text-align: center;
}
.whitePromptGot {
	position: absolute;
	bottom: 0;
	color: #FF9012;
	width: 95%;
	left: 2.5%;
	border-top: 1px solid #C8C9CA;
	padding: 20px;
	font-size: 20px;
}
.whitePromptText1 {
	position: absolute;
	top: 55px;
	font-size: 25px;
	width: 100%;
}
.whitePromptText1 span {
	color: #FF9012;
}
.whitePromptText2{
	position: absolute;
	width: 100%;
	top: 110px;
	font-size: 19px;
}
.centerPic {
    width: 45%;
    height: 45%;
    top: 38%;
    left: 27.5%;
}
.changeBg {
    background: #FDFCFE;
}

/*根据设备像素缩放下边框*/
.border-1px {
    position: relative;
}
.border-1px:after {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    content: ' ';
    transform: scaleY(.7);
}

