body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  text-align: center;
}
#fail {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  width: 80%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
svg {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  g.group {
    -webkit-animation: bigger 1s ease;
    -o-animation: bigger 1s ease;
    animation: bigger 1s ease;
  }
}
@keyframes bigger {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}